In [1]:
import pandas as pd
df = pd.read_csv('/Users/shridharmankar/pca1.csv')
df.head()

   A    B   C   D    E     F      G   H  I
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [2]:
df.shape

(768, 9)

In [3]:
x=df[['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']]
y=df['I']

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=100)
X_train

      A    B   C   D    E     F      G   H
155   7  152  88  44    0  50.0  0.337  36
150   1  136  74  50  204  37.4  0.399  24
78    0  131   0   0    0  43.2  0.270  26
9     8  125  96   0    0   0.0  0.232  54
142   2  108  52  26   63  32.5  0.318  22
..   ..  ...  ..  ..  ...   ...    ...  ..
578  10  133  68   0    0  27.0  0.245  36
53    8  176  90  34  300  33.7  0.467  58
350   4   92  80   0    0  42.2  0.237  29
79    2  112  66  22    0  25.0  0.307  24
520   2   68  70  32   66  25.0  0.187  25

[537 rows x 8 columns]

In [5]:
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler().fit(x)
data_rescaled = data_scaler.transform(x)
data_rescaled

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_rescaled,y,test_size=0.2,random_state=0)
X_train

array([[ 0.93691372,  0.91091809,  0.45982725, ...,  0.40708356,
         0.66479969,  1.76634642],
       [ 0.04601433, -0.74783062, -0.47073225, ..., -0.48135115,
        -0.08720986, -0.95646168],
       [-1.14185152,  1.38037527,  1.08020025, ...,  2.57740266,
        -0.13553176, -0.87137393],
       ...,
       [ 0.04601433, -0.84172205, -0.2122435 , ..., -0.92556851,
        -0.97814487, -1.04154944],
       [ 2.12477957, -1.12339636,  0.25303625, ..., -0.24020459,
        -0.51908683,  0.14967911],
       [ 0.3429808 ,  0.47275805,  0.66661825, ..., -4.06047387,
         0.50775352,  3.04266271]])

In [7]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train, y_train)

SVC()

In [8]:
model.score(X_test, y_test)

0.7922077922077922

In [9]:
from sklearn.decomposition import PCA
pca = PCA(0.90)
xpca = pca.fit_transform(data_rescaled)
xpca.shape

(768, 7)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(xpca,y,test_size=0.2,random_state=0)

In [11]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train, y_train)

SVC()

In [12]:
model.score(X_test, y_test)

0.7792207792207793

In [13]:
pca = PCA(n_components=6)
xpca = pca.fit_transform(data_rescaled)
xpca.shape

(768, 6)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(xpca,y,test_size=0.2,random_state=0)

In [15]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train, y_train)

SVC()

In [16]:
model.score(X_test, y_test)

0.7987012987012987