# For loop

In [13]:
set2 = (1,2,3,4,5,6,75,8,19,10)

In [14]:
for i in set2 :
 print(i)

1
2
3
4
5
6
75
8
19
10

In [15]:
set1 = (0,1,2,3,4,5,6,7,8,9)

In [17]:
for i in set1 :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in set2 :
 print(i)
 if i == 5 :
    break

1
2
3
4
5

In [ ]:
for i in set1 :
 if i == 5 :
    break
 print(i)

0
1
2
3
4

In [ ]:
for i in set1 :
 print(i)
 if i == 5 :
    continue

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in set1 :
 if i == 5 :
    continue
 print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
for i in 'shridhar': 
 print(i)

s
h
r
i
d
h
a
r

In [ ]:
for i in range(10): 
 print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(5,10): 
 print(i)

5
6
7
8
9

In [ ]:
for i in range(1,10,2): 
 print(i)

1
3
5
7
9

In [ ]:
for i in 'shridhar': 
 print(i)
 for j in 'mankar':
    print(j)

s
m
a
n
k
a
r
h
m
a
n
k
a
r
r
m
a
n
k
a
r
i
m
a
n
k
a
r
d
m
a
n
k
a
r
h
m
a
n
k
a
r
a
m
a
n
k
a
r
r
m
a
n
k
a
r

In [ ]:
for i in range(5): 
 print(i)
 for j in 'mankar':
    print(j)

0
m
a
n
k
a
r
1
m
a
n
k
a
r
2
m
a
n
k
a
r
3
m
a
n
k
a
r
4
m
a
n
k
a
r

In [ ]:
for i in range(1,5): 
 print(i)
 for j in 'mankar':
    print(j)

1
m
a
n
k
a
r
2
m
a
n
k
a
r
3
m
a
n
k
a
r
4
m
a
n
k
a
r

# While loop

In [ ]:
x = 1
while x < 10:
  print(x)                           -3-2-1 0 1 23456789 10
  x -= 1

1
2
3
4
5
6
7
8
9

In [ ]:
x = 1
while x < 10:
  print(x)
  x += 2

1
3
5
7
9

In [ ]:
x = 1
while x < 10:
  print(x)
  x += 3

1
4
7

In [ ]:
x = 1
while x < 10:
 print(x)
 if x==5:
  break
 x += 1

1
2
3
4
5

In [ ]:
x = 1
while x < 10:
  x += 1
  if x == 5:
    continue
  print(x)

2
3
4
6
7
8
9
10

In [ ]:
x = 1
while x < 10:
  x += 1
  print(x)
  if x == 5:
    continue

2
3
4
5
6
7
8
9
10

In [ ]:
x = 1
while x in range(10):
  print(x)
  x += 1

1
2
3
4
5
6
7
8
9

In [ ]:
x = 1
while x < 5 :
    y = 1
    while  y < 5 :
        print('x->',x,'y->',y,'x + y ->',x+y)
        y += 1
    print("\n")
    x += 1

x-> 1 y-> 1 x + y -> 2
x-> 1 y-> 2 x + y -> 3
x-> 1 y-> 3 x + y -> 4
x-> 1 y-> 4 x + y -> 5


x-> 2 y-> 1 x + y -> 3
x-> 2 y-> 2 x + y -> 4
x-> 2 y-> 3 x + y -> 5
x-> 2 y-> 4 x + y -> 6


x-> 3 y-> 1 x + y -> 4
x-> 3 y-> 2 x + y -> 5
x-> 3 y-> 3 x + y -> 6
x-> 3 y-> 4 x + y -> 7


x-> 4 y-> 1 x + y -> 5
x-> 4 y-> 2 x + y -> 6
x-> 4 y-> 3 x + y -> 7
x-> 4 y-> 4 x + y -> 8