In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('/Users/shridharmankar/exam1.csv')

In [3]:
data

   5me  guide  result
0    0      0      30
1    1      1      89
2    1      0      55
3    0      0      31
4    0      0      32
5    1      1      90
6    0      1      25
7    1      1      91
8    1      0      20
9    1      1      90

In [4]:
x=data[['5me','guide']]
y=data['result']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.10, random_state = 1)
print(X_train)
print(y_train)

   5me  guide
9    1      1
6    0      1
4    0      0
0    0      0
3    0      0
1    1      1
7    1      1
8    1      0
5    1      1
9    90
6    25
4    32
0    30
3    31
1    89
7    91
8    20
5    90
Name: result, dtype: int64

In [6]:
from sklearn.tree import DecisionTreeRegressor, export_graphviz

In [7]:
dt = DecisionTreeRegressor()

In [8]:
dt.fit(X_train,y_train)

DecisionTreeRegressor()

In [9]:
export_graphviz(dt,'dt1.tree',feature_names=['5me','guide'])

In [10]:
dt.predict([[1,1]])

/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([90.])

In [11]:
dt.score(x,y)

0.8596407076209728